<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stuff Sharing</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="stylesheets/index.css" rel="stylesheet">
</head>
<body id="page-top">
<%- include navbar.ejs %>
<div id="wrapper">
    <%- include sidebar.ejs %>
    <div class="card-columns">
        <div class="card" style="width:410px">
            <img class="card-img-top" style="height:250px" src="/images/electronics.jpg">
            <div class="card-body">
                <h4 class="card-title">Electronics</h4>
                <p class="card-text">TV/Laptop/Calculator...</p>
                <a href="/categorySearch?category=Electronics" class="btn btn-primary">View All Electronics</a>
            </div>
        </div>
        <div class="card" style="width:410px">
            <img class="card-img-top" style="height:250px" src="/images/books.jpg">
            <div class="card-body">
                <h4 class="card-title">Books</h4>
                <p class="card-text">Novel/Magazine/Textbook...</p>
                <a href="/categorySearch?category=Books" class="btn btn-primary stretched-link">View All Books</a>
            </div>
        </div>
        <div class="card" style="width:410px">
            <img class="card-img-top" style="height:250px" src="/images/clothes.jpg">
            <div class="card-body">
                <h4 class="card-title">Clothing</h4>
                <p class="card-text">Baby/Children/Uniform...</p>
                <a href="/categorySearch?category=Clothing" class="btn btn-primary stretched-link">View All Clothing</a>
            </div>
        </div>
        <div class="card" style="width:410px">
            <img class="card-img-top" style="height:250px" src="/images/furnitures.jpg">
            <div class="card-body">
                <h4 class="card-title">Furniture</h4>
                <p class="card-text">Sofa/Chair/Table Lamp...</p>
                <a href="/categorySearch?category=Furnitures" class="btn btn-primary stretched-link">View All Furniture</a>
            </div>
        </div>
        <div class="card" style="width:410px">
            <img class="card-img-top" style="height:250px" src="/images/kitchen.jpg">
            <div class="card-body">
                <h4 class="card-title">Kitchenware</h4>
                <p class="card-text">Cooking pot/Ladder/Knife...</p>
                <a href="/categorySearch?category=Kitchen Wares" class="btn btn-primary stretched-link">View All Kitchenware</a>
            </div>
        </div>
        <div class="card" style="width:410px">
            <img class="card-img-top" style="height:250px" src="/images/outdoors.jpg">
            <div class="card-body">
                <h4 class="card-title">Outdoor Gear</h4>
                <p class="card-text">Sleeping bag/Tent/Portable Stove...</p>
                <a href="/categorySearch?category=Outdoor Gears" class="btn btn-primary stretched-link">View All Outdoor Gear</a>
            </div>
        </div>
        <div class="card" style="width:410px">
            <img class="card-img-top" style="height:250px" src="/images/others.jpg">
            <div class="card-body">
                <h4 class="card-title">Others</h4>
                <p class="card-text">Other categories...</p>
                <a href="/categorySearch?category=Others" class="btn btn-primary stretched-link">View Other Stuffs</a>
            </div>
        </div>
    </div>
</div>
<%- include bottomscript.ejs %>
</body>
</html>
